<%- include('../partials/adminPartials/header')%>

  <div id="app">

    <style>
      body {
        background-color: rgb(225, 222, 222);
      }

      .centered-section {
        display: flex;
        justify-content: center;
        align-items: center;

      }
    </style>
    <%- include('../partials/adminPartials/nav')%>


      <section class="is-title-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
          <ul>
            <li>Admin</li>
            <li>Category</li>
          </ul>

        </div>
      </section>
      <style>
        .List-btn {
          background-color: #00ff00;
          color: #ffffff;
          padding: 6px 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        /* Style for the unblock button */
        .unList-btn {
          background-color: rgba(225, 33, 33, 0.774);
          color: #ffffff;
          padding: 5px 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        /* Hover effect for the buttons */
        .List-btn:hover,
        .unList-btn:hover {
          opacity: 0.8;
        }
      </style>


      <section class="section main-section">
        <section class="centered-section  card"
          style="background-color:  #8a8b879a; color: aliceblue; border: none; margin: 0 20px 20px 20px;">
          <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <h1 class="title" style="text-align: center;">Category</h1>
          </div>
        </section>
        <div class="card has-table">
          <header class="card-header bg-dark">
            <p class="card-header-title text-secondary">
              Details...
            </p>

            <a href="/admin/addCategory"><button class="button secondary m-2">Add Category</button></a>
            <div class="d-flex justify-content-end m-2">

            </div>
          </header>
          <div class="card-content">

            <table id="myTable" class="display">
              <input type="hidden" value="" id="users_length">
              <% if (categoryData.length> 0) { %>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Action</th>

                  </tr>
                </thead>
                <tbody>

                  <% categoryData.forEach((row,index)=> { %>
                    <tr>
                      <td>
                        <%= index+1 %>
                      </td>

                      <td><img style="width: 75px; height: 75px;" src="<%= row.imageUrl.url %>" alt="Category Image">
                      </td>
                      <td id="searchCategoryName">
                        <%= row.category %>
                      </td>
                      <td>
                        <%= row.description%>
                      </td>
                      <td>
                        <a href="/admin/editCategory/<%= row._id %>"><button class="button bg-success"><i
                              class="fa-solid fa-pen-to-square"></i></button></a>
                        <% if (row.isNotBlocked){%>
                          <a href="/admin/unListCategory/<%= row._id %>">
                            <button class="unList-btn" data-user-id="<%= row.id %>">unList</button></a>
                          <%} else {%>
                            <a href="/admin/unListCategory/<%= row._id%>" </a>
                              <button class="List-btn" data-user-id="<%= row.id%>">List</button>
                              <% } %>
                      </td>

                    </tr>
                    <% }); %>
                      <% } else { %>
                        <div class="card empty">
                          <div class="card-content">
                            <div>
                              <span class="icon large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span>
                            </div>
                            <p>No Categories Found</p>
                          </div>
                        </div>
                        <% } %>
                </tbody>
            </table>






      </section>
      <%- include('../partials/adminPartials/footer')%>