<%- include('../partials/adminPartials/header')%>


  <div id="app">

    <style>
      body {
        background-color: rgb(225, 222, 222);
      }

      .centered-section {
        display: flex;
        justify-content: center;
        align-items: center;

      }
    </style>
    <%- include('../partials/adminPartials/nav')%>

      <section class="is-title-bar">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
          <ul>
            <li>Admin</li>
            <li>Coupons</li>
          </ul>

        </div>
      </section>



      <section class="centered-section  card"
        style="background-color:  #8a8b879a; color: aliceblue; border: none; margin: 10px 20px 20px 20px;">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
          <h1 class="title" style="text-align: center;">Coupons</h1>
        </div>
      </section>




      <style>
        .nav-3 h2 a {
          color: black;
        }
      </style>


      <!-- <div class="container-fluid">
                    <div class="row">
                        <div id="user_search">
                
                            <div class="col-lg-6">
                
                                <div id="catMsg">
                                    <h5 id="noResultsFound">no results found!!</h5>
                                </div>
                
                            </div>
                
                
                            <div class="col-lg-6">
                
                                <div id="search">
                                    <input type="search" placeholder="Search Coupons" aria-label="Search" />
                                </div>
                
                            </div>
                
                        </div>
                    </div>
                </div>
    
    
            </div>
        </div> -->


      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="table-container">
            <table class="table table-hover mt-4">
              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">COUPON CODE</th>
                  <th scope="col">DISCOUNT PERCENT</th>
                  <th scope="col">MIN DISCOUNT AMT</th>
                  <th scope="col">MAX DISCOUNT AMT</th>
                  <th scope="col">STATUS</th>
                  <th scope="col">EXPIRY DATE</th>
                  <th scope="col">ACTION</th>
                </tr>
              </thead>
              <tbody>
                <% couponData.forEach((coupon, adjindex)=> { %>
                  <% var index=adjindex + 1; %>
                    <tr id="couponRow<%= coupon._doc._id %>">
                      <td scope="row">
                        <%= index %>
                      </td>
                      <td>
                        <%= coupon._doc.code %>
                      </td>
                      <td>
                        <%= coupon._doc.discount %>%
                      </td>
                      <td>₹ <%= coupon._doc.minDiscount %>
                      </td>
                      <td>₹ <%= coupon._doc.maxDiscount %>
                      </td>
                      <% if (coupon._doc.status) { %>
                        <td style="color: green; font-weight: 600;"> ACTIVE</td>
                        <% } else { %>
                          <td style="color: red; font-weight: 600;">INACTIVE</td>
                          <% } %>
                            <td>
                              <%= coupon.expiryDate %>
                            </td>
                            <td>
                              <button onclick="deleteCoupon('<%= coupon._doc._id %>')"
                                class="btn btn-sm btn-danger">DELETE</button>
                              <button onclick="blockCoupon('<%= coupon._doc._id %>')"
                                class="btn btn-sm btn-primary">BLOCK</button>
                            </td>
                    </tr>
                    <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="text-center mt-4 mb-5">
        <a href="/admin/loadAddCoupon"><button class="btn btn-primary add_user">Add
            Coupon</button></a>
      </div>

  </div>

  <%- include('../partials/adminPartials/footer')%>