<%- include('../partials/adminPartials/header')%>


  <div id="app">


    <aside class="aside is-placed-left is-expanded">
      <div class="aside-tools">
        <div>
          <b class="font-black">Admin</b>
        </div>
      </div>
      <div class="menu is-menu-main">
        <!-- <p class="menu-label">General</p> -->
        <ul class="menu-list">
          <li class="active">
            <a href="/admin/dashboard" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
              <span class="menu-item-label">Dashboard</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/user" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-account"></i></span>
              <span class="menu-item-label">Users</span>
            </a>
          </li>

          <li class="active">
            <a href="/admin/categories" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-table"></i></span>
              <span class="menu-item-label">Category</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/products" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-cart-arrow-up"></i></span>
              <span class="menu-item-label">Products</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/orders" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-cart-arrow-up"></i></span>
              <span class="menu-item-label">Orders</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/coupons" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-ticket-percent"></i></span>
              <span class="menu-item-label">Coupons</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/logout" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-logout"></i></span>
              <span class="menu-item-label"><b>Logout</b></span>
            </a>
          </li>
        </ul>

      </div>
    </aside>


    <section class="is-title-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
          <li>Admin</li>
          <li>Coupons</li>
        </ul>

      </div>
    </section>








    <style>
      .nav-3 h2 a {
        color: black;
      }
    </style>


    <!-- <div class="container-fluid">
                    <div class="row">
                        <div id="user_search">
                
                            <div class="col-lg-6">
                
                                <div id="catMsg">
                                    <h5 id="noResultsFound">no results found!!</h5>
                                </div>
                
                            </div>
                
                
                            <div class="col-lg-6">
                
                                <div id="search">
                                    <input type="search" placeholder="Search Coupons" aria-label="Search" />
                                </div>
                
                            </div>
                
                        </div>
                    </div>
                </div>
    
    
            </div>
        </div> -->


    <div class="row">
      <div class="col-lg-10 m-auto">
        <div class="table-container">
          <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th scope="col">NO</th>
                <th scope="col">COUPON CODE</th>
                <th scope="col">DISCOUNT PERCENT</th>
                <th scope="col">MIN DISCOUNT AMT</th>
                <th scope="col">MAX DISCOUNT AMT</th>
                <th scope="col">STATUS</th>
                <th scope="col">EXPIRY DATE</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <% couponData.forEach((coupon, adjindex)=> { %>
                <% var index=adjindex + 1; %>
                  <tr id="couponRow<%= coupon._doc._id %>">
                    <td scope="row">
                      <%= index %>
                    </td>
                    <td>
                      <%= coupon._doc.code %>
                    </td>
                    <td>
                      <%= coupon._doc.discount %>%
                    </td>
                    <td>₹ <%= coupon._doc.minDiscount %>
                    </td>
                    <td>₹ <%= coupon._doc.maxDiscount %>
                    </td>
                    <% if (coupon._doc.status) { %>
                      <td style="color: green; font-weight: 600;"> ACTIVE</td>
                      <% } else { %>
                        <td style="color: red; font-weight: 600;">INACTIVE</td>
                        <% } %>
                          <td>
                            <%= coupon.expiryDate %>
                          </td>
                          <td>
                            <button onclick="deleteCoupon('<%= coupon._doc._id %>')"
                              class="btn btn-sm btn-danger">DELETE</button>
                            <button onclick="blockCoupon('<%= coupon._doc._id %>')"
                              class="btn btn-sm btn-primary">BLOCK</button>
                          </td>
                  </tr>
                  <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="text-center mt-4 mb-5">
      <a href="/admin/loadAddCoupon"><button class="btn btn-primary add_user">Add
          Coupon</button></a>
    </div>

  </div>

  <%- include('../partials/adminPartials/footer')%>