<%- include('../partials/adminPartials/header')%>


  <div id="app">


    <aside class="aside is-placed-left is-expanded">
      <div class="aside-tools">
        <div>
          <b class="font-black">Admin</b>
        </div>
      </div>
      <div class="menu is-menu-main">
        <!-- <p class="menu-label">General</p> -->
        <ul class="menu-list">
          <li class="active">
            <a href="/admin/dashboard" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
              <span class="menu-item-label">Dashboard</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/user" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-account"></i></span>
              <span class="menu-item-label">Users</span>
            </a>
          </li>

          <li class="active">
            <a href="/admin/categories" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-table"></i></span>
              <span class="menu-item-label">Category</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/products" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-cart-arrow-up"></i></span>
              <span class="menu-item-label">Products</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/orders" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-cart-arrow-up"></i></span>
              <span class="menu-item-label">Orders</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/coupons" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-ticket-percent"></i></span>
              <span class="menu-item-label">Coupons</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/logout" class="text-decoration-none">
              <span class="icon"><i class="mdi mdi-logout"></i></span>
              <span class="menu-item-label"><b>Logout</b></span>
            </a>
          </li>
        </ul>

      </div>
    </aside>


    <section class="is-title-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
          <li>Admin</li>
          <li>Orders</li>
        </ul>

      </div>
    </section>



    <style>
      select {
        background-color: transparent;
        border: none;
      }

      select:hover {
        cursor: pointer;
      }


      .nav-4 h2 a {
        color: black;
      }
    </style>

    <div class="container-fluid">
      <div class="row">
        <div id="user_search">
          <div class="col-lg-6">

          </div>
          <div class="col-lg-6">
            <div id="search">
              <input type="search" placeholder="Search Orders" aria-label="Search" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 m-auto">
        <div class="table-container">
          <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th scope="col">NO</th>
                <th scope="col">DATE</th>
                <th scope="col">ORDER-ID</th>
                <th scope="col">PAYMENT METHOD</th>
                <th scope="col">ORDER STATUS</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% orderData.forEach((order, adjindex)=> { %>
                <% var index=adjindex + 1; %>
                  <tr>
                    <td>
                      <%= index %>
                    </td>
                    <td scope="row">
                      <%= order.date %>
                    </td>
                    <td>
                      <%= order.orderId %>
                    </td>
                    <td>
                      <%= order.paymentMethod %>
                    </td>
                    <% if (order.status==="Pending" ) { %>
                      <td>
                        <select name="orderUpdate" id="orderUpdate-<%= order._id %>">
                          <option value="" disabled selected>
                            <%= order.status %>
                          </option>
                          <option value="Shipped">Shipped</option>
                          <option value="Delivered">Delivered</option>
                          <option value="Cancelled">Cancelled</option>
                        </select>
                      </td>
                      <% } else if (order.status==="Shipped" ) { %>
                        <td>
                          <select name="orderUpdate" id="orderUpdate-<%= order._id %>">
                            <option value="" disabled selected>
                              <%= order.status %>
                            </option>
                            <option value="Delivered">Delivered</option>
                            <option value="Cancelled">Cancelled</option>
                          </select>
                        </td>
                        <% } else if (order.status==="Cancelled" ) { %>
                          <td style="color: red; font-weight: 600;">
                            Cancelled
                          </td>
                          <% } else if (order.status==="Returned" ) { %>
                            <td style="color: rgb(246, 136, 1); font-weight: 600;">
                              Returned
                            </td>
                            <% } else { %>
                              <td>
                                <select name="orderUpdate" id="orderUpdate-<%= order._id %>">
                                  <option value="" disabled selected>
                                    <%= order.status %>
                                  </option>
                                  <option value="Returned">Returned</option>
                                </select>
                              </td>
                              <% } %>
                                <td scope="row">
                                  <a class="btn btn-sm btn-primary" href="/admin/orderDetails?orderId=<%= order._id %>">
                                    order details</a>
                                </td>
                  </tr>
                  <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="pagination justify-content-center mt-2">
      <nav aria-label="...">
        <ul class="pagination pagination-sm">
          <% if (totalPages> 1) { %>
            <% for (let i=1; i <=totalPages; i++) { %>
              <% if (i===currentPage) { %>
                <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    <%= i %>
                  </span>
                </li>
                <% } else { %>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%= i %>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>
                    <% } %>
                      <% } %>
        </ul>
      </nav>
    </div>




    <%- include('../partials/adminPartials/footer')%>