<%- include('../partials/adminPartials/header')%>
  <div id="app">



    <div id="app">
      <style>
        body {
          background-color: rgb(225, 222, 222);
        }

        .centered-section {
          display: flex;
          justify-content: center;
          align-items: center;

        }
      </style>

      <%- include('../partials/adminPartials/nav')%>

        <section class="is-title-bar" class="text-decoration-none">
          <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <ul>
              <li>Admin</li>
              <li>Users</li>
            </ul>

          </div>
        </section>



        <section class="section main-section">
          <section class="centered-section  card"
            style="background-color:  #8a8b879a; color: aliceblue; border: none; margin: 0 20px 20px 20px;">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
              <h1 class="title" style="text-align: center;">Users</h1>
            </div>
          </section>
          <div class="card has-table">
            <header class="card-header">
              <p class="card-header-title">
                Details...
              </p>
            </header>
            <div class="card-content">
              <style>
                /* Style for the block button */
                .block-btn {
                  background-color: rgba(225, 33, 33, 0.774);
                  color: #ffffff;
                  padding: 6px 10px;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                }

                /* Style for the unblock button */
                .unblock-btn {
                  background-color: #00ff00;
                  color: #ffffff;
                  padding: 5px 10px;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                }

                /* Hover effect for the buttons */
                .block-btn:hover,
                .unblock-btn:hover {
                  opacity: 0.8;
                }
              </style>

              <table id="myTable" class="display">
                <input type="hidden" value="<%=users.length %>" id="users_length">
                <% if (users.length> 0) { %>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th> Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% users.forEach((row, index)=> { %>
                      <tr>
                        <td>
                          <%= index + 1 %>
                        </td>
                        <td>
                          <%= row.name %>
                        </td>
                        <td>
                          <%= row.email %>
                        </td>
                        <td>
                          <%= row.phone %>
                        </td>
                        <td>
                          <% if (row.isNotBlocked) { %>
                            <a href="/admin/is_Blocked/<%= row.id %>">
                              <button class="unblock-btn" data-user-id="<%= row.id %>">Unblock</button></a>
                            <% } else { %>
                              <a href="/admin/is_Blocked/<%= row.id %>">
                                <button class="block-btn" data-user-id="<%= row.id %>">Block</button></a>
                              <% } %>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                  <% } else { %>
                    <div class="card empty">
                      <div class="card-content">
                        <div>
                          <span class="icon large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span>
                        </div>
                        <p>No Users </p>
                      </div>
                    </div>
                    <% } %>
              </table>

              <div class="table-pagination">
                <div class="flex items-center justify-between">
                  <div class="buttons">
                    <button type="button" class="button active" onclick="changePage(1)">1</button>
                    <button type="button" class="button" onclick="changePage(2)">2</button>
                    <!-- <button type="button" class="button" onclick="changePage(3)">3</button> -->
                  </div>
                  <small id="pageInfo">Page 1 of 1</small>
                </div>
              </div>



        </section>
        <!-- <script>

        var currentPage = 1;
        var rowsPerPage = 11;
        var totalRows =  Number(document.getElementById('users_length').value)  ;


        function changePage(page) {
          currentPage = page;
          renderTable();
          updatePageInfo();
        }
        function renderTable() {
          var table = document.getElementById('myTable');
          var startIndex = (currentPage - 1) * rowsPerPage;
          var endIndex = startIndex + rowsPerPage;

          var rows = table.getElementsByTagName('tr');
          for (var i = 0; i < rows.length; i++) {
            if (i >= startIndex && i < endIndex) {
              rows[i].style.display = '';
            } else {
              rows[i].style.display = 'none';
            }
          }
        }


        function updatePageInfo() {
          var pageInfo = document.getElementById('pageInfo');
          var totalPages = Math.ceil(totalRows / rowsPerPage);
          pageInfo.textContent = 'Page ' + currentPage + ' of ' + totalPages;
        }


        renderTable();
        updatePageInfo();
      </script>
      </div>
      </div>
      <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
     </body>
     </html> -->
        <%- include('../partials/adminPartials/footer')%>