<%- include("../partials/userPartials/header")%>
  <script src="https://kit.fontawesome.com/ab14f3903c.js" crossorigin="anonymous"></script>
  <div class="page-wrapper">
    <header class="header header-7">
      <div class="header-top">
        <div class="container-fluid"></div>
        <!-- End .container-fluid -->
      </div>
      <!-- End .header-top -->

      <div class="header-middle sticky-header">
        <div class="container-fluid">
          <div class="header-left">
            <button class="mobile-menu-toggler">
              <span class="sr-only">Toggle mobile menu</span>
              <i class="icon-bars"></i>
            </button>

            <a href="/" class="logo">
              <img src="assets/images/demos/demo-7/zaak-logo.png" alt="ZAAK logo" width="105" height="25" />
            </a>

            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <li>
                  <a href="/" class="sf-with-ul">Home</a>
                </li>

                <% if (typeof categoryData !=='undefined' && categoryData.length> 0) { %> <%
                    categoryData.forEach((category)=> { %>
                    <li>
                      <a href="/products?id=<%= category._id %>" class="sf-with-ul">
                        <%= category.category %>
                      </a>
                    </li>
                    <% }); %>
                      <% } %>
                        <li>
                          <a href="/allProducts" class="sf-with-ul">All Products</a>
                        </li>
                        <div class="megamenu megamenu-sm">
                          <div class="row no-gutters"></div>
                          <!-- End .row -->
                        </div>
                        <!-- End .megamenu megamenu-sm -->

                        <li>
                          <% if (typeof userDetail !=='undefined' ) { %>
                            <a href="#">Hello <%= userDetail.name %></a>
                            <ul>
                              <li>
                                <a href="/profile">My profile</a>
                              </li>
                              <li><a href="/logout">Logout</a></li>

                            </ul>
                            <% } else { %>
                              <a href="#">Account</a>
                              <ul>
                                <li><a href="/login">Login</a></li>

                              </ul>
                              <% } %>
                        </li>

              </ul>
              <!-- End .menu -->
            </nav>
            <!-- End .main-nav -->
          </div>
          <!-- End .header-left -->


          <div class="header-right">
            <div class="header-search">
              <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
              <form action="/allProducts" method="get">
                <div class="header-search-wrapper">
                  <label for="q" class="sr-only">Search</label>
                  <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>

                </div><!-- End .header-search-wrapper -->
              </form>
            </div><!-- End .header-search -->
            <% if (typeof userDetail !=='undefined' ) { %>
              <div class="account pl-5">
                <a href="/logout"><i class="fa-solid fa-sign-out-alt fa-xl"></i></a>

              </div>
              <% } else { %>
                <div class="account pl-5">
                  <a href="/login"><i class="fa-solid fa-user fa-xl"></i></a>
                </div>
                <% } %>



                  <% if (typeof userDetail !=='undefined' ) { %>
                    <div class="dropdown compare-dropdown">
                      <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" data-display="static" title="Compare Products"
                        aria-label="Compare Products">
                        <i class="fa-solid fa-wallet fa-sm"></i>

                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <ul class="compare-products">
                          <li class="compare-product text-center">
                            <h5>Available Wallet Balance</h5>
                          </li>
                        </ul>
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-6 d-flex justify-content-center">
                              <p style="font-size: 2.4rem; font-weight: 500;">₹ <%= userDetail.wallet.balance %>
                              </p>
                              <input type="hidden" id="userWallet" value="<%= userDetail.wallet.balance %>">
                            </div>
                            <div class="col-lg-6 d-flex justify-content-start align-items-center p-0">
                              <div class="addFund">
                                <a href="#" class="btn-outline-primary-2"><span>Add Fund</span><i
                                    class="icon-long-arrow-right"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- End .dropdown-menu -->
                    </div><!-- End .compare-dropdown -->
                    <% } %>



                      <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
                          data-display="static">
                          <i class="icon-shopping-cart"></i>
                          <span class="cart-count"></span>
                        </a>

                        <!-- <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                   
                                   
                                </div>
                                End .cart-product

                                
                               
                            </div> -->
                        <!-- End .dropdown-menu -->
                      </div>
                      <!-- End .cart-dropdown -->
          </div>
          <!-- End .header-right -->
        </div>
        <!-- End .container-fluid -->
      </div>
      <!-- End .header-middle -->
    </header>
    <!-- End .header -->
  </div>