<%- include("../partials/userPartials/productHeader")%>
    <%- include ('../partials/userPartials/productNavbar')%>


        <body>
            <div class="page-wrapper">
                <style>
                    .swal2-popup {
                        font-size: 1.4rem !important;
                    }

                    .btnCoupon {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        padding: 0.85rem 1.5rem;
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 1.5;
                        letter-spacing: -.01em;
                        min-width: 56px;
                        border-radius: 0;
                        white-space: normal;
                        transition: all 0.3s;
                        margin-bottom: 11px;
                    }

                    /* .dropdown {
        position: relative;
        display: inline-block;
    } */

                    #coupon-dropdown {
                        display: none;
                        position: absolute;
                        z-index: 999;
                        background-color: #f9f9f9;
                        min-width: 192px;
                        padding: 5px 4px;
                        margin: -12px 0 0;
                        border: 1px solid #ddd;
                        list-style-type: none;
                    }

                    #coupon-dropdown li {
                        padding: 7px 5.5px;
                        cursor: pointer;
                        font-size: 10pt;
                        color: #c96;
                        font-weight: 500;


                    }

                    #coupon-dropdown li:hover {
                        background-color: #c96;
                        color: white;

                    }



                    .dropdown:hover #coupon-dropdown {
                        display: block;
                    }


                    #couponMessage,
                    #couponDiscount {
                        color: green;
                        font-weight: 500;
                    }

                    #subTotalText,
                    #subTotal {
                        font-weight: 600;
                    }

                    #name-error,
                    #mobileNumber-error,
                    #addressLine-error,
                    #email-error,
                    #city-error,
                    #state-error,
                    #pincode-error,
                    #mobile-error {
                        font-size: 9pt;
                        color: #c96;
                        ;
                        position: relative;
                    }

                    .accordion-summary .card-body {
                        padding: 7px 7px 0px 16px;
                    }

                    .card p {
                        color: #c96;
                        font-weight: 500;
                    }

                    .sticky-alert {
                        position: sticky;
                        top: 61px;
                        z-index: 9999;
                    }

                    .card-dashboard .card-body,
                    label {
                        cursor: pointer;
                    }

                    .header .compare-dropdown:hover .dropdown-toggle {
                        color: #c96;
                    }
                </style>

                <main class="main">
                    <div class="page-header text-center"
                        style="background-image: url('assets/images/page-header-bg.jpg')">

                        <div class="container">
                            <h1 class="page-title">Checkout</h1>

                        </div>
                    </div>

                    <nav aria-label="breadcrumb" class="breadcrumb-nav">
                        <div class="container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ol>
                        </div>
                        < </nav>

                            <div class="page-content">
                                <div class="checkout">
                                    <div class="container">
                                        <!-- <div class="checkout-discount"> -->
                                        <!-- <form action="#">
        						<input type="text" class="form-control" required id="checkout-discount-input">
            					<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
            				</form> -->

                                        <!-- </div>
                         -->
                                        <div class="col-lg-12 d-flex justify-content-end sticky-alert p-0">

                                            <div class="col-lg-4">
                                                <div class="row ">



                                                    <div id="insufficientBalanceAlert"
                                                        class="alert alert-danger d-none align-items-center alert-dismissible"
                                                        role="alert">
                                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24"
                                                            role="img" aria-label="Warning:">
                                                            <use xlink:href="#exclamation-triangle-fill" />
                                                        </svg>
                                                        <div style="margin-left: 7px;">
                                                            Insufficient balance in your wallet <br> Please choose
                                                            another payment method
                                                        </div>
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                            aria-label="Close"></button>
                                                    </div>



                                                </div>
                                            </div>

                                        </div>



                                        <div class="row">


                                            <div class="col-lg-9">


                                                <h3 class="card-title">Billing Address
                                                </h3>
                                                <br>
                                                <% addressData.forEach(address=> { %>
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <label for="address<%= address.id %>">
                                                                <strong>Name:</strong>
                                                                <%= address.name %><br>
                                                                    <strong>Mobile number:</strong>
                                                                    <%= address.mobile %><br>
                                                                        <strong>Email:</strong>
                                                                        <%= address.email %><br>
                                                                            <strong>Address:</strong>
                                                                            <%= address.address %><br>
                                                                                <strong>City:</strong>
                                                                                <%= address.city %><br>
                                                                                    <strong>State:</strong>
                                                                                    <%= address.state %><br>
                                                                                        <strong>Pincode:</strong>
                                                                                        <%= address.pincode %><br>
                                                            </label>

                                                            <input type="radio" id="address<%= address.id %>"
                                                                name="selectedAddress" value="<%= address.id %>"
                                                                onchange="handleAddressSelection()">

                                                        </div>
                                                    </div>
                                                    <% }); %>

                                                        <h2 class="checkout-title">Add New Address</h2>

                                                        <form id="addressForm">

                                                            <div class="row">

                                                                <div class="col-sm-6">

                                                                    <label>First Name *</label>
                                                                    <input type="text" name="name" class="form-control">
                                                                    <p id="nameError" class="text-danger error-msg"></p>

                                                                </div>

                                                                <div class="col-sm-6">

                                                                    <label>Email *</label>
                                                                    <input type="email" name="email"
                                                                        class="form-control">
                                                                    <p id="emailError" class="text-danger error-msg">
                                                                    </p>

                                                                </div>

                                                            </div>

                                                            <label>Address Line *</label>
                                                            <input type="text" name="address" class="form-control">
                                                            <p id="addressError" class="text-danger error-msg"></p>



                                                            <div class="row">

                                                                <div class="col-sm-6">

                                                                    <label>City *</label>
                                                                    <input type="text" name="city" class="form-control">
                                                                    <p id="cityError" class="text-danger error-msg"></p>

                                                                </div>

                                                                <div class="col-sm-6">

                                                                    <label>State *</label>
                                                                    <input type="text" name="state"
                                                                        class="form-control">
                                                                    <p id="stateError" class="text-danger error-msg">
                                                                    </p>

                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-sm-6">

                                                                    <label>Postcode / ZIP *</label>
                                                                    <input type="text" name="pincode"
                                                                        class="form-control">
                                                                    <p id="pincodeError" class="text-danger error-msg">
                                                                    </p>

                                                                </div><!-- End .col-sm-6 -->

                                                                <div class="col-sm-6">

                                                                    <label>Phone *</label>
                                                                    <input type="tel" name="mobile"
                                                                        class="form-control">
                                                                    <p id="phoneError" class="text-danger error-msg">
                                                                    </p>

                                                                </div><!-- End .col-sm-6 -->


                                                            </div><!-- End .row -->

                                                            <button type="submit"
                                                                class="btn btn-outline-primary-2 mt-1">
                                                                <span>SAVE ADDRESS</span>
                                                                <i class="icon-long-arrow-right"></i>
                                                            </button>


                                                        </form>


                                            </div>

                                            <aside class="col-lg-3">
                                                <div class="summary">
                                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                                    <table class="table table-summary">
                                                        <thead>
                                                            <tr>
                                                                <th>Product</th>

                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <% cart.forEach((item)=> { %>
                                                                <tr>
                                                                    <td style="color: #c96; font-weight: 500;"><a
                                                                            href="#">
                                                                            <%= item.product.name %>
                                                                            <input type="hidden" id="selectedSize"
                                                                            value="<%= item.size %>">
                                                                                   
                                                                                
                                                                        </a></td>

                                                                    <td style="color: #c96; font-weight: 500">₹ <%=
                                                                            item.total %>
                                                                    </td>
                                                                </tr>
                                                                <% }) %>


                                                                    <tr id="couponModel" style="display: none;"
                                                                        class="summary-total">
                                                                        <td id="couponMessage">Coupon Discount:</td>
                                                                        <td id="couponDiscount"></td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td>Shipping:</td>
                                                                        <td>Free shipping</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="dropdown">
                                                                                <input style="width: 110%;" type="text"
                                                                                    class="form-control"
                                                                                    id="checkout-discount-input"
                                                                                    placeholder="Coupon code">
                                                                                <ul id="coupon-dropdown"
                                                                                    class="dropdown-menu">
                                                                                    <% if (availableCoupons.length> 0) {
                                                                                        %>
                                                                                        <%
                                                                                            availableCoupons.forEach((coupon)=>
                                                                                            { %>
                                                                                            <li
                                                                                                onclick="selectCoupon('<%= coupon.code %>')">
                                                                                                <%= coupon.code %>
                                                                                                    <small> get <%=
                                                                                                            coupon.discount
                                                                                                            %>% discount
                                                                                                    </small>
                                                                                            </li>
                                                                                            <% }) %>
                                                                                                <% } else { %>
                                                                                                    <li>No coupons
                                                                                                        available</li>
                                                                                                    <% } %>
                                                                                </ul>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <button id="couponButton"
                                                                                onclick="validateCoupon()"
                                                                                class="btn btnCoupon btn-outline-primary-2"
                                                                                type="submit">
                                                                                <i id="couponIcon"
                                                                                    class="icon-long-arrow-right"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>

                                                                    <input type="hidden" id="subTotalValue"
                                                                        value="<%= subTotal %>">

                                                                    <tr class="summary-total">
                                                                        <td id="subTotalText">Grand Total:</td>
                                                                        <td id="subTotal">₹ <%= subTotal %>
                                                                        </td>
                                                                    </tr><!-- End .summary-total -->
                                                        </tbody>
                                                    </table>



                                                    <div class="accordion-summary" id="accordion-payment">


                                                        <h5 class="mt-1 mb-2">PAYMENT METHODS</h5>

                                                        <div class="card">

                                                            <div class="card-header" id="heading-4">
                                                                <h2 class="card-title">
                                                                    <label>
                                                                        <input data-bs-toggle="collapse"
                                                                            href="#collapseExample" role="button"
                                                                            aria-expanded="false"
                                                                            aria-controls="collapseExample"
                                                                            class="payment-radio" type="radio"
                                                                            name="payment" value="Wallet"
                                                                            onchange="handleAddressSelection()">

                                                                        Wallet
                                                                    </label>
                                                                </h2>
                                                            </div>


                                                        </div>


                                                        <div class="card mt-1">

                                                            <div class="card-header" id="heading-3">
                                                                <h2 class="card-title">
                                                                    <label>
                                                                        <input class="payment-radio" type="radio"
                                                                            name="payment" value="Cash On Delivery"
                                                                            onchange="handleAddressSelection()">
                                                                        Cash On Delivery
                                                                    </label>

                                                                </h2>
                                                            </div>



                                                        </div>



                                                        <div class="card mt-1">

                                                            <div class="card-header" id="heading-2">
                                                                <h2 class="card-title">
                                                                    <label>
                                                                        <input class="payment-radio" type="radio"
                                                                            name="payment" value="Razorpay"
                                                                            onchange="handleAddressSelection()">

                                                                        Razorpay
                                                                    </label>
                                                                </h2>
                                                            </div>



                                                        </div>



                                                        <div class="card ml-5 mt-3">

                                                            <div class="card-header" id="heading-5">

                                                                <img src="assets/images/payments-summary.png"
                                                                    alt="payments cards">

                                                                </h2>
                                                            </div>




                                                        </div>


                                                    </div>

                                                    <button disabled onclick="placeOrder()" id="place-order-btn"
                                                        class="btn btn-outline-primary-2 btn-order btn-block">
                                                        Place Order
                                                    </button>


                                                </div><!-- End .summary -->

                                            </aside><!-- End .col-lg-3 -->

                                        </div><!-- End .row -->
                                        </form>
                                    </div>
                                    < </div><!-- End .checkout -->
                                </div><!-- End .page-content -->
                </main><!-- End .main -->




                <%- include ('../partials/userPartials/productFooter')%>