<%- include("../partials/userPartials/productHeader")%>
    <%- include ('../partials/userPartials/productNavbar')%>

        <body>
            <div class="page-wrapper">


                <main class="main">
                    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                        <div class="container d-flex align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Products</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <%= productData.name %>
                                </li>
                                <input type="hidden" value=" <%= productData._id %>" id="productId">
                            </ol>

                        
                        </div><!-- End .container -->
                    </nav><!-- End .breadcrumb-nav -->

                    <div class="page-content">
                        <div class="container">
                            <div class="product-details-top mb-2">
                                <div class="row">



                                    <div class="col-md-6">
                                        <div class="product-gallery product-gallery-vertical">
                                            <div class="row">
                                                <figure class="product-main-image">
                                                    <img id="product-zoom" src="<%= productData.imageUrl[0].url %>"
                                                        data-zoom-image="<%= productData.imageUrl[0].url %>"
                                                        alt="product image">

                                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                        <i class="icon-arrows"></i>
                                                    </a>
                                                </figure><!-- End .product-main-image -->

                                                <div id="product-zoom-gallery" class="product-image-gallery">
                                                    <a class="product-gallery-item active" href="#"
                                                        data-image="<%= productData.imageUrl[0].url %>"
                                                        data-zoom-image="<%= productData.imageUrl[0].url %>">
                                                        <img src="<%= productData.imageUrl[0].url %>" alt="product">
                                                    </a>

                                                    <a class="product-gallery-item" href="#"
                                                        data-image="<%= productData.imageUrl[1].url %>"
                                                        data-zoom-image="<%= productData.imageUrl[1].url %>">
                                                        <img src="<%= productData.imageUrl[1].url %>"
                                                            alt="product cross">
                                                    </a>

                                                    <a class="product-gallery-item" href="#"
                                                        data-image="<%= productData.imageUrl[2].url %>"
                                                        data-zoom-image="<%= productData.imageUrl[2].url %>">
                                                        <img src="<%= productData.imageUrl[2].url %>"
                                                            alt="product with model">
                                                    </a>

                                                    <a class="product-gallery-item" href="#"
                                                        data-image="<%= productData.imageUrl[3].url %>"
                                                        data-zoom-image="<%= productData.imageUrl[3].url %>">
                                                        <img src="<%= productData.imageUrl[3].url %>"
                                                            alt="product back">
                                                    </a>
                                                </div><!-- End .product-image-gallery -->
                                            </div><!-- End .row -->
                                        </div><!-- End .product-gallery -->
                                    </div><!-- End .col-md-6 -->

                                    <div class="col-md-6 mt-5">
                                        <div class="product-details product-details-centered">
                                            <h1 class="product-title">
                                                <%= productData.name %>
                                            </h1><!-- End .product-title -->

                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2
                                                    Reviews )</a>
                                            </div><!-- End .rating-container -->

                                            <div class="product-price">
                                                ₹ <%= productData.price %>
                                            </div><!-- End .product-price -->






                                            <div class="product-content" style="text-align: justify;">
                                                <p>
                                                    <%= productData.description %>
                                                </p>
                                            </div><!-- End .product-content -->


                                            <div class="details-filter-row details-row-size">
                                                <label for="size">Size</label>
                                                <div class="select-custom" style="border: 1px solid #ce9d42de;">
                                                    <select name="size" id="size" class="form-control">
                                                        <option value="" disabled selected>Available Sizes</option>
                                                        <% productData.stock.forEach((size)=> { %>
                                                            <% if (size.small> 0) { %>
                                                                <option value="s">Small</option>
                                                                <% } %>
                                                                    <% if (size.medium> 0) { %>
                                                                        <option value="m">Medium</option>
                                                                        <% } %>
                                                                            <% if (size.large> 0) { %>
                                                                                <option value="l">Large</option>
                                                                                <% } %>
                                                                                    <% if (size.xlarge> 0) { %>
                                                                                        <option value="xl">Extra Large
                                                                                        </option>
                                                                                        <% } %>
                                                                                            <% }) %>
                                                    </select>
                                                </div><!-- End .select-custom -->
                                            </div>
                                            <span id="sizeError" class="text-danger error-msg "></span>
                                            <!-- <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a> -->
                                        </div><!-- End .details-filter-row -->

                                        <div class="product-details-action">
                                            <div class="details-action-col">
                                                <div class="product-details-quantity ">
                                                    <input type="number" id="quantity" class="form-control" value="1"
                                                        min="1" step="1" data-decimals="0" required
                                                        style="border: 1px solid #ce9d42;">
                                                </div><!-- End .product-details-quantity -->

                                                <button id="addToCartButton" onclick="addToCart()"
                                                    class="btn-product btn-cart"><span> Add To
                                                        Cart</span></button>

                                            </div><!-- End .details-action-col -->


                                        </div><!-- End .product-details-action -->

                                        <div class="product-details-footer">
                                            <div class="product-cat">
                                                <span>Category:</span>
                                                <a href="#" style="text-transform: uppercase;">
                                                    <%= categoryName.category %>
                                                </a>,
                                                <a href="#" style="text-transform: uppercase;">
                                                    <%= subCategoryName.subCategory %>
                                                </a>


                                            </div>

                                            <div class="social-icons social-icons-sm">
                                                <span class="social-label">Share:</span>
                                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                                        class="icon-facebook-f"></i></a>
                                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                                        class="icon-twitter"></i></a>
                                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                                        class="icon-instagram"></i></a>
                                              
                                            </div>
                                        </div><!-- End .product-details-footer -->
                                    </div><!-- End .product-details -->
                                </div><!-- End .col-md-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .product-details-top -->

                        <div class="product-details-tab">
                            <ul class="nav nav-pills justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                        href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                        aria-selected="true">Description</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="product-shipping-link" data-toggle="tab"
                                        href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab"
                                        aria-selected="false">Shipping & Returns</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="product-review-link" data-toggle="tab"
                                        href="#product-review-tab" role="tab" aria-controls="product-review-tab"
                                        aria-selected="false">Reviews (2)</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                    aria-labelledby="product-desc-link">
                                    <div class="product-desc-content">
                                        <h3>Product Information</h3>
                                        <p>
                                            <%= productData.description %>
                                        </p>



                                    </div><!-- End .product-desc-content -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="product-info-tab" role="tabpanel"
                                    aria-labelledby="product-info-link">

                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                                    aria-labelledby="product-shipping-link">
                                    <div class="product-desc-content">
                                        <h3>Delivery & returns</h3>
                                        <p>We deliver to over 100 countries around the world. For full details of the
                                            delivery options we offer, please view our <a href="#">Delivery
                                                information</a><br>
                                            We hope you’ll love every purchase, but if you ever need to return an item
                                            you can do so within a month of receipt. For full details of how to make a
                                            return, please view our <a href="#">Returns information</a></p>
                                    </div><!-- End .product-desc-content -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                                    aria-labelledby="product-review-link">
                                    <div class="reviews">
                                        <h3>Reviews (2)</h3>
                                        <div class="review">
                                            <div class="row no-gutters">
                                                <div class="col-auto">
                                                    <h4><a href="#">Samanta J.</a></h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 80%;"></div>
                                                            <!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                    </div><!-- End .rating-container -->
                                                    <span class="review-date">6 days ago</span>
                                                </div><!-- End .col -->
                                                <div class="col">
                                                    <h4>Good, perfect size</h4>

                                                    <div class="review-content">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Ducimus cum dolores assumenda asperiores facilis porro
                                                            reprehenderit animi culpa atque blanditiis commodi
                                                            perspiciatis doloremque, possimus, explicabo, autem fugit
                                                            beatae quae voluptas!</p>
                                                    </div><!-- End .review-content -->

                                                    <div class="review-action">
                                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                    </div><!-- End .review-action -->
                                                </div><!-- End .col-auto -->
                                            </div><!-- End .row -->
                                        </div><!-- End .review -->

                                        <div class="review">
                                            <div class="row no-gutters">
                                                <div class="col-auto">
                                                    <h4><a href="#">John Doe</a></h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 100%;"></div>
                                                            <!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                    </div><!-- End .rating-container -->
                                                    <span class="review-date">5 days ago</span>
                                                </div><!-- End .col -->
                                                <div class="col">
                                                    <h4>Very good</h4>

                                                    <div class="review-content">
                                                        <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam
                                                            laborum blanditiis laudantium iste amet. Cum non voluptate
                                                            eos enim, ab cumque nam, modi, quas iure illum repellendus,
                                                            blanditiis perspiciatis beatae!</p>
                                                    </div><!-- End .review-content -->

                                                    <div class="review-action">
                                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                    </div><!-- End .review-action -->
                                                </div><!-- End .col-auto -->
                                            </div><!-- End .row -->
                                        </div><!-- End .review -->
                                    </div><!-- End .reviews -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .product-details-tab -->


                    </div><!-- End .container -->
            </div><!-- End .page-content -->
            </main><!-- End .main -->
            <script>



                async function addToCart() {


                    event.preventDefault();
                    const quantity = document.getElementById("quantity").value;
                    const productId = document.getElementById("productId").value;
                    const size = document.getElementById("size").value;

                    const data = { size, quantity, productId };

                    resetError();

                    try {
                        const response = await axios.post("/addToCart", data, {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        });
                        console.log(316, "axiosprductview", response)
                        if (response.data) {
                            if (response.data.message === "item already in cart") {

                                Swal.fire({
                                    icon: 'success',
                                    title: 'Item is already in the cart',
                                    showConfirmButton: true,
                                    timer: 1000
                                });
                            } else if (response.data.message === "Item quantity updated in cart") {

                                Swal.fire({
                                    icon: 'success',
                                    title: 'Item qunatity added to cart successfully',
                                    showConfirmButton: true,
                                    timer: 1000
                                });
                            } else if (response.data.message === "Item added to cart") {

                                Swal.fire({
                                    icon: 'success',
                                    title: 'Item added to cart successfully',
                                    showConfirmButton: true,
                                    timer: 1000
                                });
                            } else if (response.data.message === "Quantity exceeds available stock") {

                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Out of stock',
                                    text: 'The selected quantity is more than the available stock.',
                                    confirmButtonText: 'OK'
                                });
                            }
                        }
                    } catch (error) {
                        if (error.response && error.response.status === 400) {

                            const err = error.response.data.error;
                            const sizeError = document.getElementById("sizeError");
                            sizeError.textContent = err;
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Out of Stock',
                                text: 'The selected quantity is not available',
                                confirmButtonText: 'OK'
                            });
                            console.error(error);
                        }
                    }
                }
                function resetError() {
                    const errorElement = document.getElementById("sizeError");
                    errorElement.textContent = "";
                }
            </script>



            <%- include ('../partials/userPartials/productFooter')%>